<% provide(:title, "Edit Animal Type") %>
<div class="container">
  <h1>Edit Animal Type</h1>

  <% flash[:notice]&.each do |msg| %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for :animal_type, method: :patch do |f| %>

        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :description, 'Description' %>
        <%= f.text_field :description, class: 'form-control' %>

        <div>
          <br>
          <%= f.submit "Update", class: "col-md-3 btn btn-primary" %>
          <div class="col-md-6"></div>
          <%= link_to "Back", '/animal_types', class: "col-md-3 btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>